.PPBody{

    font-family:"lucida grande", tahoma, verdana, arial, sans-serif;

}

header{

    display: inline-block;
    height: 100px;
    background: #efc7ef;


}
main.PPDefault {
    margin-left: 10.5em;
    margin-right: 10.5em;
    margin-top: 2.6em;
}

* {
    margin: 0;
}

img {
    display: inline;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border:5px solid white;
    margin-left: 620px;
    margin-top: 25px;

}

header *{
    display: inline;
    float: left;
}

h1 {
    display: inline;
}

.NomeUser{
    display: inline; 
    color: #5d5656;
    margin: 100;
    float: right;
    margin-right: 370px; 
    padding: 0;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    margin-top: -60px;
    
}

.EstecLogo{
    display: inline;
    font-family: Monotype Corsiva, sans-serif;
    font-size: 5.125em;
    color: purple;
    /*#01baf2;*/
    font-weight: 100;
    text-align: left;
    margin: 32px 0 0 0;
    line-height: 50px;  
    font-weight: bold; 
    text-shadow: black 0.01em 0.1em 0.2em;
    margin-left: 1.9em;

}




.DefaultTurma {

    display: inline-block;
    border: 1px solid #CCC;
    border-radius: 1em;
    background-color: white;
    box-shadow: black 0.01em 0.1em 2.2em;
    width: 250px;
    height: 500px;
    /* Para ver as bordas do formulário */
    padding: 1em;
    color: black;


}

.DefaultNS {
    display: inline-block;
    border: 1px solid #CCC;
    border-radius: 1em;
    background-color: white;
    box-shadow: black 0.01em 0.1em 2.2em;
    width: 250px;
    height: 500px;
    /* Para ver as bordas do formulário */
    padding: 1em;
    color: black;
    float: right;

}
.DefaultCalendario {

    display: inline-block;
    border: 1px solid #CCC;
    border-radius: 1em;
    background-color: white;
    box-shadow: black 0.01em 0.1em 2.2em;
    width: 300px;
    height: 350px;
    /* Para ver as bordas do formulário */
    padding: 1em; 
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    position:absolute;
}

.b {

    font-size: 18px;
    color: white; 
    height: 50px;
    background: purple;
    text-align: center;
    vertical-align: center;

}

    
input {
    margin-top: 2em;
    width: 257px;
    text-align: center;
    font-size: 18px;
    color: purple;
    font-family:"lucida grande", tahoma, verdana, arial, sans-serif;
    font-weight: bold;
    left: center; 
    position: absolute; 
    margin-left: 05.8%;
            

}

.TabelaNS {

    color: black;
    overflow: auto;



}
table{ 
    margin-top: 2.5em;
    font-size: 15px;
    border-collapse: collapse;

    overflow: auto;

}

td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
    padding-left: 2px;
}

tr:nth-child(even) {
    background-color: #dddddd;

}